.perspective1000 {
  perspective: 1000px;
}

.rotateFront {
  transform-style: preserve-3d;
  transform: rotateX(var(--lean-deg));
  border-radius: theme(borderRadius.3xl);
  transition: theme(transitionDuration.fast) ease-in-out;
}

button.rotateFront:hover {
  transform: rotateX(var(--lean-deg)) translateY(-3px);
}
button.rotateFront:active {
  transform: rotateX(var(--lean-deg)) translateY(10px);
}
